In [2]:
import pandas as pd
import numpy as np 
s=pd.Series()
print("Pandas Series",s)
data = np.array(['a','b','c','d'])
s = pd.Series(data)
print("\nPandas Series from ndarray:\n",s)

Pandas Series Series([], dtype: object)

Pandas Series from ndarray:
 0    a
1    b
2    c
3    d
dtype: str

In [ ]:
#dataframe in pandas
df=pd.DataFrame()
print (df)
l=['she','will','not','use','the','portal']
df=pd.DataFrame(l)
print(df)

Empty DataFrame
Columns: []
Index: []
        0
0     she
1    will
2     not
3     use
4     the
5  portal

In [ ]:
#operations in pandas
#1 loading data
df=pd.read_csv("data.csv")
print(df.head())
print()
#2 veiwing and exploring data
print(df.info())
print()
#3 handling missing data
print(df.isnull().sum())
df=df.fillna(0)

    name  age     city category  sales  a   b
0   John   25    Delhi        A    200  5  10
1   Riya   22   Mumbai        B    120  2   3
2   Aman   30     Pune        A    250  7   8
3   Neha   27  Kolkata        C    300  4   6
4  Arjun   35   Jaipur        B    200  1   9

<class 'pandas.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   name      5 non-null      str
 1   age       5 non-null      int64
 2   city      5 non-null      str
 3   category  5 non-null      str
 4   sales     5 non-null      int64
 5   a         5 non-null      int64
 6   b         5 non-null      int64
dtypes: int64(4), str(3)
memory usage: 412.0 bytes
None

name        0
age         0
city        0
category    0
sales       0
a           0
b           0
dtype: int64

In [ ]:
#4 selecting and filtering data
ages=df[df['age']>25]
print(ages)

    name  age     city category  sales  a  b
2   Aman   30     Pune        A    250  7  8
3   Neha   27  Kolkata        C    300  4  6
4  Arjun   35   Jaipur        B    200  1  9

In [ ]:
#5 adding and removing data
df['total']=df['a']+df['b']
print(df.head())

    name  age     city category  sales  a   b  total
0   John   25    Delhi        A    200  5  10     15
1   Riya   22   Mumbai        B    120  2   3      5
2   Aman   30     Pune        A    250  7   8     15
3   Neha   27  Kolkata        C    300  4   6     10
4  Arjun   35   Jaipur        B    200  1   9     10

In [11]:
#6 grouping data(groupby)
res=df.groupby('category')['sales'].sum()
print(res)

category
A    450
B    320
C    300
Name: sales, dtype: int64

In [ ]:
#read df and convert to json
df=pd.DataFrame([['a','b'],['c','d']],index=['row1','row2'],columns=['col1','col2'])
print(df.to_json(orient='split'))
print(df.to_json(orient='index'))

{"columns":["col1","col2"],"index":["row1","row2"],"data":[["a","b"],["c","d"]]}
{"row1":{"col1":"a","col2":"b"},"row2":{"col1":"c","col2":"d"}}

In [16]:
import requests
url="https://jsonplaceholder.typicode.com/posts"
response=requests.get(url)
data=pd.json_normalize(response.json())
data.head()

,userId,id,title,body
0,1,1,sunt aut facere repellat provident occaecati e...,quia et suscipit\nsuscipit recusandae consequu...
1,1,2,qui est esse,est rerum tempore vitae\nsequi sint nihil repr...
2,1,3,ea molestias quasi exercitationem repellat qui...,et iusto sed quo iure\nvoluptatem occaecati om...
3,1,4,eum et est occaecati,ullam et saepe reiciendis voluptatem adipisci\...
4,1,5,nesciunt quas odio,repudiandae veniam quaerat sunt sed\nalias aut...

In [19]:
import json
from pandas import json_normalize
with open('D:\Capgemini Training\sample1.json') as f:
    d=json.load(f)
nycphil=json_normalize(d['fruit'])
nycphil.head(3)

<>:3: SyntaxWarning: invalid escape sequence '\C'
<>:3: SyntaxWarning: invalid escape sequence '\C'
C:\Users\DELL\AppData\Local\Temp\ipykernel_22692\214907795.py:3: SyntaxWarning: invalid escape sequence '\C'
  with open('D:\Capgemini Training\sample1.json') as f:
C:\Users\DELL\AppData\Local\Temp\ipykernel_22692\214907795.py:3: SyntaxWarning: invalid escape sequence '\C'
  with open('D:\Capgemini Training\sample1.json') as f:

NotImplementedError: